.container {
    margin: 5vh .5vw 2vh .5vw;
    display: inline-block;
    font-size: calc(4pt + .5vw);
    text-align: center;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    padding: 10px 4vh 2vh 4vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    .message-header {
        font-size: 1.2em;
        color: #53b796;
        border-radius: 10px;
    }
    .message {
        margin-top: 5vh;
        color: rgb(81, 81, 81);
    }